.ABC {list-style-type: lower-alpha;}
.black {color: black;}
.orange {list-style: url(orange_marker.png);}
.green {list-style: url(green_marker.png);}
.red {list-style: url(red_marker.png);}
.blue {list-style: url(blue_marker.png);}
.black2 {list-style: url(black_marker.png);}