ul {
    /* list-style-type: circle;
    list-style-image: url(icon.png);
    list-style-position: inside; */
    /* text-align: center; */
    
    /* list-style: circle inside url(s.gif); */
}
ol {
   /* list-style-type: lower-greek; */
}
li {/* background: green; */
    /* list-style: circle inside url(s.gif); */
}
.arrow {  
    list-style: url(s.gif);
}
ol {
    list-style-image: none;
}

.red {
    color: red;
}
.black {
    color: black;
}