body{
    flex: wrap;
    width: 100%;
    background-color: rgb(215, 215, 215);
}


.wrap {
    max-width: 1050px;
    min-width: 414px;
    margin: 0 auto;
}

table {
    border: 1px solid rgb(140, 140, 140);
    border-collapse: collapse;
} 

td{
    border-bottom: 1px solid rgb(123, 123, 123);
    padding: 30px;
}

.column0 {
    width: 15%;
    vertical-align: top;
}

.top {
    width: 20%;
    text-align: top;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.prev {
    width: 100%;
}

.name {
    display: flex;
    font-size: 42px;
    margin: 0px 0px 0 0px; 
}

div img {
    width:40px;
    margin: 5px 20px 0px 0px;
    float: left;
}

.tope {
    float: right;
    margin-right: 30px;
}

.prev {
    margin: 0;
}

.column1 {
    margin: 5px 0 0 50px;
    font-size: 40px;
    text-align: center;
}

.column2 {
    font-size: 25px;
    margin: 25px 0 0 0px;
}
.column3 {
    font-size: 25px;
    margin: 0 0 0 0px;
}
.column4 {
    font-size: 25px;
    margin: 0 0 0 0px;
}
.column5 {
    font-size: 25px;
    margin: 0 0 0 0px;
}

.column6 {
    font-size: 25px;
    margin: 30px 20px 10px 0px;
    width: 85%;
    background-color: rgb(190, 190, 190);
    padding: 20px;
    box-shadow: 0 0 10px 1px rgb(153, 153, 153) inset;
}
