{% extends 'todo/base.html' %}

{% block content %}

<h3>{{ error }}</h3>

<h2>{{ todo.title }}</h2>

<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <button class="btn">Сохранить</button>
</form>

<form action="{% url 'completetodo' todo.id %}" method="post">
    {% csrf_token %}
    <button class="btn good">Выполнено</button>
</form>

<form action="{% url 'deletetodo' todo.id %}" method="post">
    {% csrf_token %}
    <button class="btn remove">Удалить</button>
</form>

{% endblock %}