.header{
    background: rgb(31, 13, 168);
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

.header .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right {
    text-align: right;
}

.logo{
    font-size: 20px;
    font-weight: bold;
}