.a{
    margin: 0;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.616);
    color: white;
    box-shadow: 0px 0px 25px 2px rgb(0, 0, 0);
}

.c{
    padding: 10px;
    border: 1px solid rgb(13, 13, 13);
    border-radius: 5px;
    box-shadow: inset 0px 0px 15px 1px rgb(25, 25, 25);
}