.search{
    margin: 20px 50px 0;
}

.search input{
    border: 0;
    padding: 20px 10px 10px;
    width: 100%;
    color: #999;
    font-size: 20px;
}

.search input:focus{
    outline: none;
    border-bottom: 1px solid #CCC;
}