body {
    /* background-color: yellow;
    background-image: url(leo.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed; */
    /* background: yellow url(leo.png) no-repeat 100% 100% fixed;
    background-size: cover; */
    background: url(t4.png) repeat-y,
                url(t3.png) repeat-y right top,
                url(leo.png)

}

p {
    background-color: rgba(0, 67, 35, 0.2);
}

/* img {
    width: 600px;
} */