.title{
    float: right;
}
.im{
    margin: 30px;
}
table{
    border: 3px solid rgb(171, 205, 250);
    width: 100%;
}
div{
    color: gray;
}
.a{
    width: 300px;
}
.b{
    width: 99%;
}
.c{
    float: right;
}
textarea{
    width: 99%;
}
td{
    min-width: 190px;
    vertical-align: top;
}
input[type="button"]{
    width: 550px;
    margin: 0 auto;
    display: block;
}
