@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.wrap {
    max-width: 1050px;
    min-width: 414px;
    margin: 0 auto;
}


/* top */
.top {
    background: #F3F3F3;
    padding-bottom: 120px;
}

.top__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top__block--left {
    margin: 0;
    color: rgb(37, 43, 66);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    margin: 36px 0;
}

.top__block--right {
    margin: 0;
    display: flex;
    list-style: none;
}

.top__block--right li {
    margin-left: 21px;
}

.top__block--right a {
    color: rgb(115, 115, 115);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-decoration: none;
}

.top h1 {
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-top: 120px;
    margin-bottom: 40px;
}

.top h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 0;
}

.top__btn {
    margin-top: 40px;
    text-align: center;
}

.top__btn--left {
    background: #FFA62B;
    border-radius: 37px;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding: 10px 36px;
    box-sizing: border-box;
    margin-right: 5px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.top__btn--right {
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #00A0C1;
    border: 1px solid #00A0C1;
    border-radius: 37px;
    padding: 10px 36px;
    box-sizing: border-box;
    margin-left: 5px;
    text-decoration: none;
    cursor: pointer;
}

/* choose */
.choose {
    padding: 145px 0 100px;
}

.choose h2 {
    color: rgb(37, 43, 66);
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 0 0 10px;
}

.choose__title--text {
    color: rgb(115, 115, 115);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: center;
    padding: 0 0 45px;
}

.choose__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.choose__element {
    flex-basis: 328px;
    box-sizing: border-box;
    border: 1px solid rgb(232, 232, 232);
    background: rgb(255, 255, 255);
    padding: 35px 40px;
    margin-bottom: 30px;
}

.choose__title {
    display: flex;
}

.choose__title h5 {
    color: rgb(37, 43, 66);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin: 0 0 0 15px;
}

.choose__title p {
    color: rgb(115, 115, 115);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin: 0;
}

/* client */
.client {
    background: #F3F3F3;
    padding: 80px 0;
}

.client h2 {
    color: rgb(37, 43, 66);
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 0 0 10px;
}

.client p {
    color: rgb(115, 115, 115);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 0 0 80px;
}

.client__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.client__element {
    flex-basis: 327px;
    box-sizing: border-box;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 5px;
    background: rgb(255, 255, 255);
    padding: 30px 35px;
}

.client__comment {
    color: rgb(115, 115, 115);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 21px 0;
}


.client__name a {
    color: rgb(255, 166, 43);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-decoration: none;
    margin: 0;
}

.client__name h6 {
    color: rgb(37, 43, 66);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 0;
}

.client__prof img {
    float: left;
    margin-right: 15px;
}

.client__name {
    display: flex;
    flex-direction: column;
}


/* team */
.team {
    padding: 80px 0 50px;
}

.team h2 {
    color: rgb(37, 43, 66);
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 0 0 0 10px;
}

.team p {
    color: rgb(115, 115, 115);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 0 0 80px;
}

.team__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team__element {
    box-sizing: border-box;
    border: 1px solid rgb(238, 238, 238);
    background: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 30px;
}

.team__element h5 {
    color: rgb(37, 43, 66);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin: 30px 0 5px;
}

.team__element h6 {
    color: rgb(115, 115, 115);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 0 0 5px;
}

.team__element div img {
    margin: 0 7.5px 30px;
}

.team__element>img {
    width: 100%;
}

/* contact */
.contact {
    padding: 90px 0;
    background: url(images/b_5_fon.jpg) center #EFEFEF;
    background-size: cover;
}

.contact h5 {
    color: rgb(37, 43, 66);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin: 0;
}

.contact h2 {
    color: rgb(37, 43, 66);
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    margin: 0 0 40px;
}

form {
    max-width: 620px;
    display: flex;
    flex-wrap: wrap;
}

input,
select {
    flex-basis: 290px;
    margin-bottom: 20px;
    margin-right: 20px;
}

textarea {
    flex-basis: 100%;
    margin-right: 20px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px;
    background: rgb(249, 249, 249);
    color: rgb(189, 189, 189);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    height: 140px;
    margin-bottom: 40px;
}

input {
    box-sizing: border-box;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px;
    background: rgb(249, 249, 249);
    color: rgb(189, 189, 189);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    padding: 12px 20px;
}

select {
    box-sizing: border-box;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px;
    background: rgb(249, 249, 249);
    color: rgb(189, 189, 189);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    padding: 12px 20px;
}

button {
    border-radius: 5px;
    background: rgb(255, 166, 43);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
    border: none;
    padding: 15px 40px;
    cursor: pointer;
}

/* consult */
.consult {
    padding: 40px 0;
}

.consult__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.consult__block--left h3 {
    color: rgb(37, 43, 66);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    margin: 0 0 10px;
}

.consult__block--left p {
    color: rgb(115, 115, 115);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin: 0;
}

.consult__block--right button {
    border-radius: 5px;
    background: rgb(255, 166, 43);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
}

/* bottom */
.bottom {
    padding: 40px 0;
    background: #252B42;
}

.bottom__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom__block--left h3 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    margin: 0;
}

.bottom__block--right {
    margin: 0;
    display: flex;
    list-style: none;
}
.bottom__block--right li {
    margin: 20px 0 0 20px;
}