<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Правила использования генератора паролей</h1>

    <h3>Выберите длину</h3>

    <ul>
        <li>Установите длину пароля (рекомендуется 6+ символов)</li>
    </ul>

<h3>Настройте сложность (отметьте галочками):</h3>

    <ul>
        <li>Заглавные буквы (A-Z)</li>
        <li>Цифры (0-9)</li>
        <li>Спецсимволы (!@#$% и т.д.)</li>
    </ul>

<h3>Сгенерируйте</h3>

    <ul>
        <li>Нажмите кнопку "Сгенерировать пароль"</li>
        <li>Сохраните в надежном месте (менеджер паролей)</li>
    </ul>
<h3>Важно:</h3>

    <ul>
        <li>Используйте все типы символов </li>
        <li>Создавайте уникальные пароли для каждого сайта </li>
        <li>Никому не сообщайте свои пароли</li>
    </ul>
<p><a href="{% url 'home' %}">Вернуться на главную</a></p>
</body>
</html>