nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background: rgb(128, 182, 253);
    padding: 20px;
    font-weight: bold;
}

nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}